.titleListContainer{
    text-align: center;
    color: purple;
    margin: 40px 0;
    width: 100vw;
}

.itemListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}