.prueba {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Opcional: ajusta la alineación horizontal */
  }
  
  .itemWrapper {
    width: calc(25% - 16px); /* Establece un ancho fijo para cada tarjeta (25% para mostrar 4 tarjetas por fila) */
    margin-bottom: 32px; /* Espacio entre filas */
    padding: 20px;
  }
  
  
  