.item-individualCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .375rem;
    border: 1px solid rgba(0, 0, 0, .175);
    padding: 10px;
    /* box-shadow: #37a0bb 0px 2px 1px 0px, #37a0bb 0px 3px 16px 1px; */
    height: 100%;
    color: #212529;
    
}
.item-imageCard{
    width: 175px;
    
}

.item-nameCard{
    font-size: x-large;
   
}

.item-priceCard{
    font-size: larger;
    display: flex;
    justify-content: center;
    font-size: medium;
    
}

.item-brandCardImage{
    width: 40px;
    border-radius: 10px;
    border: #37a0bb solid 1px;
}
.item-clickeableCard{
    text-decoration: none;
}