.cart-icon-container {
    position: relative;
    
}

.cart-icon{
 width: 3em;
 height: 3em;
 color: white;
 padding: 10px 10px;
 border-radius: .375rem;
}

.cart-countContainer{
    display: flex;
    min-width: 100px;
    
}

.cart-count {
    position: absolute;
    top: -20px;
    right: 10px;
    background-color:#37a0bb ;
    color: white;
    border-radius: 20%;
    font-size: 1em;
    padding: 10px 10px;
}
