.footerCountButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footerCountButtons p{
    margin-bottom: 0;
}

.restButton{
    padding: 5px 17px;
    border-radius: 10px;
    margin: 0px 20px;
}
.addButton{
    padding: 5px 17px;
    border-radius: 10px;
    margin: 0px 20px;
}
.cartButton{
    padding: 5px 17px;
    border-radius: 10px;
    margin: 0px 20px;
}